.message {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
  }
  
  .messageTop{
      display: flex;
      align-items: center;
  }
  
  .messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .messageText{
      padding: 10px;
      border-radius: 20px;
      background-color: #00D5FA;
      font-size: 1rem;
      font-weight: 400;
      color: rgb(54, 54, 54);
      max-width: 300px;
  }
  
  .messageBottom{
      font-size: 12px;
  }
  
  .message.own{
      align-items: flex-end;
  }
  
  .message.own .messageText{
      background-color: #C2C2C2;
      color: rgb(54, 54, 54);
  }